# influxdb condiguration

{% for influxdb_config_block in influxdb_config|sort %}
{% if influxdb_config[influxdb_config_block] is mapping %}
[{{ influxdb_config_block }}]
{% for influxdb_config_block_param in influxdb_config[influxdb_config_block]|sort %}
{% if influxdb_config[influxdb_config_block][influxdb_config_block_param] is string %}
  {{ influxdb_config_block_param }} = "{{ influxdb_config[influxdb_config_block][influxdb_config_block_param] }}"
{% elif influxdb_config[influxdb_config_block][influxdb_config_block_param] is iterable %}
  {{ influxdb_config_block_param }} = ["{{ influxdb_config[influxdb_config_block][influxdb_config_block_param]|sort|join('\", \"') }}"]
{% elif influxdb_config[influxdb_config_block][influxdb_config_block_param] is number %}
  {{ influxdb_config_block_param }} = {{ influxdb_config[influxdb_config_block][influxdb_config_block_param]|lower }}
{% endif %}
{% endfor %}
{% elif influxdb_config[influxdb_config_block] is string %}
{{ influxdb_config_block }} = "{{ influxdb_config[influxdb_config_block] }}" 
{% elif influxdb_config[influxdb_config_block] is number %}
{{ influxdb_config_block }} = {{ influxdb_config[influxdb_config_block]|lower }}
{% endif %}

{% endfor %}

# influxdb enabled services

{% if influxdb_enabled_services is mapping %}
{% for influxdb_enabled_service in influxdb_enabled_services %}
{%- set influxdb_service_explicit_params = influxdb_enabled_service.keys() -%}
{%- if influxdb_service_defaults[influxdb_enabled_service['section']] is mapping -%}
{%- set influxdb_service_default_params = influxdb_service_defaults[influxdb_enabled_service['section']].keys() | difference(influxdb_service_explicit_params) -%}
{%- else -%}
{%- set influxdb_service_default_params = [] -%}
{%- endif -%}
{%- set influxdb_service_params = influxdb_service_explicit_params | union(influxdb_service_default_params) | sort -%} 
[[{{ influxdb_enabled_service['section'] }}]]
{% for influxdb_service_param in influxdb_service_params|difference(['section'])|sort %}
{% if influxdb_enabled_service[influxdb_service_param]|default(influxdb_service_defaults[influxdb_enabled_service['section']][influxdb_service_param]) is string %}
  {{ influxdb_service_param }} = "{{ influxdb_enabled_service[influxdb_service_param]|default(influxdb_service_defaults[influxdb_enabled_service['section']][influxdb_service_param]) }}"
{% elif influxdb_enabled_service[influxdb_service_param]|default(influxdb_service_defaults[influxdb_enabled_service['section']][influxdb_service_param]) is number %}
  {{ influxdb_service_param }} = {{ influxdb_enabled_service[influxdb_service_param]|default(influxdb_service_defaults[influxdb_enabled_service['section']][influxdb_service_param])|lower }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}

